<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.jcloisterzone.plugins.rgg_siege" version="2">
    <title>RGG's siege</title>
    <description>Graphics from RGG's version of The Cathars expansion</description>
    <expansions>
         <expansion>CATHARS</expansion>
    </expansions>
</plugin>