<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.jcloisterzone.plugins.classic" version="3.5">
    <title>JCZ artwork</title>
    <description>JCloisterZone 3D</description>
    <type>FULL_GRF_SET</type>
    <tiles>
        <image-offset>49,0,0,0</image-offset>
        <image-ratio-x>34</image-ratio-x>
        <image-ratio-y>24</image-ratio-y>
    </tiles>
    <expansions>
        <expansion>BASIC</expansion>
    </expansions>
</plugin>