<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.jcloisterzone.plugins.classic" version="3.5">
    <title>JCZ artwork</title>
    <description>Default JCloisterZone</description>
    <type>FULL_GRF_SET</type>
    <tiles>        
        <image-offset>49,0,0,0</image-offset>
    </tiles>
    <expansions>
        <expansion>BASIC</expansion>
    </expansions>
</plugin>